<div id="form">
  <h2>Login page</h2>
 
  <form action="/userProfile" method="POST">
 
    <div class="login-container">
      <div class="login-card">
        <div class="login-inner-box">
            <h2 class="login-header text-center">Log in</h2>
            <form>
              <input type="email" class="input-box"
              placeholder="Email address" required>
              <input type="password" class="input-box"
              placeholder="Password" required>
              <div class="submit-div">
              <button type="submit" class="login-submit-btn input-box">Log in</button>
              </div>
            </form>
        </div>
      </div>
    </div>
    
    {{!-- <label> Email
      <input type="email" name="email" placeholder="Type email here" />
    </label>
 
    <label>Password
      <input type="password" name="password" placeholder="Type password here" />
    </label>
 
    <button type="submit">Login</button> --}}

 
    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>

