<div id="form">

<form action="/userProfile" method="POST">
 
<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form class="auth-form" action="/signup" method="POST">
			<h1>Create account</h1>
			<input type="text" placeholder="Name" />
			<input type="email" placeholder="Email" />
			<input type="password" placeholder="Password" />
			<button type="submit">Sign Up</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form action="/login" method="POST">
			<h1>Sign in</h1>
			<input type="email" placeholder="Email" />
			<input type="password" placeholder="Password" />
			<button type='submit'>Sign In</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome back!</h1>
				<p>Sign in with your email address and password to look for help and jobs</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hello, neighbor!</h1>
				<p>Enter your personal details and join your local community</p>
          <p class='ghost' id='signUp'>Sign Up</p>
				{{!-- <button class="ghost" id="signUp">Sign Up</button> --}}
			</div>
		</div>
	</div>
</div>

 {{!-- basic login box --}}

    {{!-- <div class="login-container">
      <div class="login-card">
        <div class="login-inner-box">
            <h2 class="login-header text-center">Log in</h2>
            <form>
              <input type="email" class="input-box"
              placeholder="Email address" required>
              <input type="password" class="input-box"
              placeholder="Password" required>
              <div class="submit-div">
              <button type="submit" class="login-submit-btn input-box">Log in</button>
              </div>
            </form>
        </div>
      </div>
    </div> --}}
    
    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>

