<div id="form">
  <h2>Signup page</h2>
  <form action="/signup" method="POST">

    <div class="signup-container">
      <div class="signup-card">
        <div class="signup-inner-box">
            <h2 class="signup-header text-center">Sign up</h2>
            <form>
              <input type="text" class="input-box"
              placeholder="Username" required>
              <input type="email" class="input-box"
              placeholder="Email address" required>
              <input type="password" class="input-box"
              placeholder="Password" required>
              <div class="submit-div">
              <button type="submit" class="signup-submit-btn input-box">Create account</button>
              </div>
            </form>
        </div>
      </div>
    </div>

    {{!-- <label>
      Username
      <input type="text" name="username" placeholder="Type username here" />
    </label>

    <label>
      Email
      <input type="email" name="email" placeholder="Type email address here" />
    </label>

    <label>
      Password
      <input type="password" name="password" placeholder="Type password here" />
    </label>

    <button type="submit">Create account</button> --}}

    {{! error message will be added here }}
    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>