<div id="form">
  <h2>Signup page</h2>
  <form action="/signup" method="POST">

{{!-- basic signup box --}}

    {{!-- <div class="signup-container">
      <div class="signup-card">
        <div class="signup-inner-box">
            <h2 class="signup-header text-center">Sign up</h2>
            <form>
              <input type="text" class="input-box"
              placeholder="Username" required>
              <input type="email" class="input-box"
              placeholder="Email address" required>
              <input type="password" class="input-box"
              placeholder="Password" required>
              <div class="submit-div">
              <button type="submit" class="signup-submit-btn input-box">Create account</button>
              </div>
            </form>
        </div>
      </div>
    </div> --}}

    {{! error message will be added here }}
    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>