<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <link rel="icon" href="images/logo.png">

  </head>

  <body>
    <header>
      <nav class="logo-div">
        <a href="/" id="logo-link"><img id="logo" src="images/logo.png"> Bell</a>
        <button id="create-button">
          <a href="/ads/add" id="create-btn-font">+ Create a new ad</a>
        </button>
      </nav>
      
    </header>

    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>