 /* *{
  border: 1px solid black;
}  */

body {
  font-family: 'Lato', sans-serif;
  margin: 0px;
  height: 80vh;
}

#logo-link {
  color: white;
  text-decoration: none;
  font-weight: 700;
  font-size: 30px;
}

/* #logo-div{
  display: flex;
  flex-direction: row;
  justify-content: left;
  
} */

a{
  text-decoration: none !important;
  color: black; 

}

a:hover{
  text-decoration: none !important;
  color: black;

}

#logo{
  /* vertical-align: middle; */
  height: 30px;

}

header{
  padding-top: 10px;
  /* padding-top: 15px;
  padding-bottom: 15px; */
  background-color: #623FFD; 
}



#create-button{
  text-align: center;
  text-decoration: none;
  border: 2px solid white;
  border-radius: 15px;
  padding: 3px 10px;
  background-color: #623FFD;
  font-size: 16px;
  display: block; 
  margin: 0 auto;
  margin-bottom: auto;
  color: white !important;

}

 #create-btn-font{
  color: white;
  font-weight: 700;

} 

h1 {
  padding-top: 40px;
  font-size: 40px;
  text-align: center;
}

.title-home{
  border: #623FFD solid 2px;
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
  font-size: 35px;
  font-weight: 1000;
  padding: 15px;
  padding-top: 20px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.filters{
  text-align: center;
  display: block; 
  flex-direction: row;
}

.filter-option{
  border: 2px solid white;
  border-radius: 15px;
  padding: 10px;
  background-color: #e9e4fd;
  font-size: 16px;
  color: black;
}

.filter-option:hover{
  border: 2px solid white;
  border-radius: 15px;
  padding: 10px;
  background-color: #623FFD;
  font-size: 16px;
  color: white;
}

.filter-option:active{
  border: 2px solid white;
  border-radius: 15px;
  padding: 10px;
  background-color: #623FFD;
  font-size: 16px;
  color: white;
}


h3{
  display: inline-block;
  padding-right: 20px;
  font-weight: 700;
}

.search-container{
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.submit-btn{
  border: 2px solid white;
  color: white;
  width: 120px;
  border-radius: 15px;
  padding: 10px;
  background-color: #623FFD;
  font-size: 16px;
}

.search-form{
  border: 2px solid rgb(214, 214, 214);
  border-radius: 15px;
  padding: 10px;
  width: 400px;
  background-color: white;
  font-size: 16px;
  color: black;
  margin-bottom: 20px;
}

.radius{
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 2px solid rgb(214, 214, 214);
  border-radius: 15px;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: auto;
  width: 80px;
  text-align: center;
  background-color: white;
  font-size: 16px;
  color: black;
}
.radius:hover{
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 2px solid #623FFD;
  border-radius: 15px;
  padding: 10px;
  margin-right: 10px;
  width: 80px;
  text-align: center;
  background-color: white;
  font-size: 16px;
  color: black;
}

.details{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.details-pad{
  padding: 30px;
}

.details-font{
  font-size: 20px;
}

.description-pad{
  padding-left: 25%;
  padding-right: 25%;
  margin: 10px;
  margin-bottom: 50px;
}

.details-title{
  font-size: 40px;
  font-weight: bold;

}

.details-price{
  font-weight: 700;
  margin-bottom: 20px;
}

.details-img{
  margin-top: 100px;
  width: 200px;
}

.details-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* .ad{
  
  align-items: center;
  justify-content: space-around;
  
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 0 20px;
  width: 80%;
  border: 1px solid black; 


} */
/* table, td {
  padding: 5px;
  
}

th{
  padding-bottom: 20px;
}


 tr{
  border: solid 1px black;
} 
*/
.ad-img {
width: 50px;
margin-bottom: 15px;
} 


.ad-list{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 15px;
}

.table-border{
  border: 1px solid rgb(179, 178, 178);

}

.details-btn{
  margin-bottom: 8px;
  border-radius: 15px;
  border: 1px solid #623FFD;
  background-color: rgb(235, 235, 235);
  color: black;
  padding: 10px;
}

.details-btn:hover{
  margin-bottom: 15px;
  border-radius: 15px;
  border: 1px solid #623FFD;
  background-color: #e9e4fd;
  color: black;
  padding: 10px;
}

.bold{
  font-weight: 1000;
}

.details{
  margin: 0 auto;
}

/* userProfile Page */

.flexbox{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  margin-top: 50px;
}

.adsspace{
  width: 100%;
}

.testUser{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* width: 80%; */
  margin: 20px;
  border: 1px solid rgb(179, 178, 178);
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 15px;
}

.profil{
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profileImg{
  border-radius: 200px;
  width: 100px;
  height: 100px;

}

.profileImgSmall{
  border-radius: 200px;
  

}

/* layout Profile icon */

.white{
 color: white;
 font-size: smaller;
 font-weight: 1000;
 
}


.profilCenter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logoCenter{
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; 
  align-items: center;
  padding: 5px;
}

.row{
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; 
  align-items: center;
  padding: 5px;
}

.logout{
  text-align: center;
  text-decoration: none;
  border: 2px solid white;
  border-radius: 15px;
  padding: 0px 5px;
  background-color: #623FFD;
  font-size: 10px;
  display: block; 
  margin: 0 auto;
  margin-bottom: auto;
  color: white !important;
  font-weight: 1000;
}

/* create ad Page / editForm */

.createAd{
  border-radius: 10px;
  margin: 10px;
}

.createAdForm{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.createAdNum{
  width: 20%;
  border-radius: 10px;
  margin: 10px;
}

.adAddress{
  display: flex;
  justify-content: center;
}

.adDescription {
  width: 60%;
  height: 200px;
  border-radius: 10px;
  margin: 10px;
}

.adPrice{
  width: 15%;
  border-radius: 10px;
  margin: 10px;
}

/* SIGN-IN SIGN-UP form */

.form {
  margin: 0px;
  height: 500px;
}

* {
  box-sizing: border-box;
}

.authForm {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
  height: 80vh;
  /* margin: 0px 0 50px; */
}

.authH1 {
  font-weight: 700;
  margin: 0;
}

/* h2 {
  text-align: center;
} */

.authP {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

/* span {
	font-size: 12px;
} */

/* a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
} */

.authButton {
  border-radius: 20px;
  border: 1px solid #623ffc;
  background-color: #623ffc;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 0.01ms ease-in;
}

.authButton {
  transform: scale(0.95);
}

.authButton {
  outline: none;
}

.authButton {
  background-color: #623ffc;
  border-color: #ffffff;
}

.title-home {
  margin-top: 100px;
}

.authForm {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

.authInput {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  border-radius: 20px;
}

.authContainer {
  background-color: #fff;
  /* border-radius: 10px; */
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  /* transition: all 0.01ms ease-in-out; */
}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
  margin-top: 25px;
}

#signUp {
  border: 1px solid white;
  border-radius: 50px;
  padding: 10px;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.authContainer.right-panel-active .sign-in-container {
  /* transform: translateX(100%); */
}

.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
  margin-top: 25px;
  padding: 12px 30px;
  margin: 8px 0;
}

.authContainer.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.01ms;
  margin-top: 65px;
  /* adjust position of sign up form */
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.01ms ease-in-out;
  z-index: 100;
}

.authContainer.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.overlay {
  background: #623ffc;
  /* background: -webkit-linear-gradient(to right, #623ffc, #7557FD);
	background: linear-gradient(to right, #623ffc, #7557FD); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.01ms ease-in-out;
}

.authContainer.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.01ms ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
}

.authContainer.right-panel-active .overlay-left {
  transform: translateX(0);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.authContainer.right-panel-active .overlay-right {
  transform: translateX(20%);
}

