

{{#with user}}
  <h2>Welcome, {{ username }}!</h2>
  <p>Profile page</p>
  {{!-- <button>
    <a href="/userProfile/edit">Edit Profile</a>
  </button> --}}

  <p>Still no logged in user, sorry!</p>
{{/with}}
