<h1>Create a new ad</h1>
<form action="/ads" method="POST">

<div class = 'createAdForm'>

	<input class = 'createAd' type="text" name="title" id="title" placeholder="Title">

    <select class = 'createAd' name="category">
		
            <option value="">-Category-</option>
			<option value="household">Household</option>
            <option value="garden">Garden</option>
            <option value="pets">Pets</option>
            <option value="education">Education</option>
            <option value="craft">Craft</option>
            <option value="voluntary">Voluntary</option>
            <option value="other">Other</option>
		
	</select>

	<input class = 'createAd' type="number" name="time" id="time" placeholder="Time">

	<label for="date">Date: </label>
	<input class = 'createAd' type="date" name="date" id="date" >

    <label for="date">Address: </label>
<div class= 'adAddress'>
	
	<input class = 'createAd' type="text" name="street" id="street" placeholder="Street">

	<input class = 'createAdNum' type="number" name="number" id="number" placeholder="Number">
</div>
<div class= 'adAddress'>
	<input class = 'createAdNum' type="number" name="zipcode" id="zipcode" placeholder="Zipcode">

	<input class = 'createAd' type="text" name="city" id="city" placeholder="City">
</div>
	<textarea class = 'adDescription' type="text" name="description" id="description" placeholder="Description" rows="10" cols="50"></textarea>


	<input class = 'adPrice' type="number" name="price" id="price" placeholder="Price per hour">

	<button class="details-btn" type="submit">Create this ad</button>
</div>
</form>